Source: sierrabreeze
Section: kde
Priority: optional
Maintainer: Thomas Karl Pietrowski <thopiekar@gmail.com>
Build-Depends:
 debhelper (>= 10),
 cmake, extra-cmake-modules,
 libecm1-dev,
 libkdecorations2-dev,
 libkf5codecs-dev,
 libkf5configwidgets-dev,
 libkf5coreaddons-dev,
 libkf5guiaddons-dev,
 libkf5i18n-dev,
 libkf5widgetsaddons-dev,
 libkf5windowsystem-dev,
 libqt5x11extras5-dev,
Standards-Version: 4.1.2
Homepage: https://github.com/thopiekar/Cura-packaging
Vcs-Git: https://github.com/ishovkun/SierraBreeze.git
Vcs-Browser: https://github.com/ishovkun/SierraBreeze

Package: sierrabreeze
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OSX-like window decoration for KDE Plasma written in C++
 Sierra Breeze is a fork of Breeze Window decoration that aims to mimic the OSX Sierra titlebar buttons.
